body {
  background-color: #fbfefc;
}

#header {
  padding-top: 20px;
  padding-left: 10px;
  --bs-border-color: SeaGreen;
}

.nav-pills {
  --bs-nav-pills-link-active-bg: SeaGreen;
  --bs-nav-link-color: SeaGreen;
  --bs-nav-link-hover-color: MediumSeaGreen;
}

#body {
  padding-top: 20px;
}

.about-me {
  text-align: justify;
  text-justify: inter-word;
}

.photo-caption {
  text-align: center;
}

.project-description {
  text-align: justify;
  text-justify: inter-word;
}

.column-contents {
  max-width: 100%;
}

